@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/inter-latin-variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/inter-latin-variable-italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Roc Grotesk';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  ascent-override: 110%;
  src: url('/assets/fonts/roc-grotesk.woff2') format('woff2');
}
